{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} COUNTRY COMPARISON {% endblock %}</h1>

        <div class='country 1'>
            <form action="{{url_for('compare')}}" method="post">
                <select name="country 1" class="Input">
                    {% for country in countries %}
                    <option value="{{country['countryName']}}">{{ country['countryName'] }}</option>
                    {% endfor %}
                </select><br><br>
                <select name="country 2" class="Input">
                    {% for country in countries %}
                    <option value="{{ country['countryName'] }}">{{ country['countryName'] }}</option>
                    {% endfor %}
                </select><br><br>    
                <button type="Compare" class="compare-btn"> Compare </button>
            </form>
        </div>
{% endblock %}