<!DOCTYPE html>
<html lang="en">
<head class="header">
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - Countries</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/base.css') }}" />
</head>
<body>
    <header class="header">
        
	    <h1 class="logo"><a href="/">Country Manager</a></h1>
        <ul class="main-nav">
            <li><a href="{{ url_for('listCountries') }}">List Countries </a></li>
            <li><a href="{{ url_for('countryInformation') }}">Country Information</a></li>
            <li><a href="{{ url_for('countryComparator') }}">Country Comparator</a></li>
            <li><a href="{{ url_for('randomInfo') }}">Random Information</a></li>
            <li><a href="{{ url_for('currencyExchange') }}">Currency Exchange</a></li>
        </ul>
	</header> 
    
    {% block content %}
    
    <div class="bg-image"></div>
    <div class="bg-text">
        <h1>WELCOME TO COUNTRY INFORMATION SITE</h1>
    </div>
    
    
    {% endblock %}
</body>
</html>