{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Countries {% endblock %}</h1>
        <div class='country'>
            <p>{{ country1['countryIndex'] }}</p>
            <h2>{{ country1['countryName'] }}</h2>
            <p>{{ country1['region'] }}</p>
            <br></br>
            <p>{{ country2['countryIndex'] }}</p>
            <h2>{{ country2['countryName'] }}</h2>
            <p>{{ country2['region'] }}</p>
            <p>Edit</p>
        </div>
{% endblock %}