{% extends 'base.html' %}
<html>
<head class="header">
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - Countries</title>
    <link rel="stylesheet" />
</head>
<body>

{% block content %}

    <h1>{% block title %} Countries {% endblock %}</h1>
    <div class="split left">
        <div class="centered">
            <h2>{{ country1['countryName'] }}</h2>
            <p>{{ country1['region'] }}</p>
        </div>
    </div>
    <div class="split middle">
        <div class="centered">
            <h2>Country Name</h2>
            <p>Country Region</p>
        </div>
    </div>
    
    <div class="split right">
        <div class="centered">
            <h2>{{ country2['countryName'] }}</h2>
            <p>{{ country2['region'] }}</p>
        </div>
    </div>
{% endblock %}
</body>
</html>