{% extends 'base.html' %}

{% block content %}
<body>
    <h1 class="header-text">{% block title %} Country Comparison {% endblock %}</h1>
    <br><br>
    <div class="split left">
        <div class="centered">
            <img src="../static/images/{{ country1['countryName'] }}.png">
            {% for i in range( country1.keys() | length ) %}
                {% if country1.keys()[i] != "countryIndex" %}
                    <h2>{{country1.keys()[i] }}:   {{ country1[i] }} </h2>           
                {% endif %}
            {% endfor %}
        </div>
    </div>
    
    <div class="split right">
        <div class="centered">
            <img src="../static/images/{{ country2['countryName'] }}.png">
            {% for i in range( country2.keys() | length ) %}
                {% if country2.keys()[i] != "countryIndex" %}
                    <h2>{{country2.keys()[i] }}:   {{ country2[i] }} </h2>           
                {% endif %}
            {% endfor %}
        </div>
    </div>
</body>
{% endblock %}