{% extends 'base.html' %}

{% block content %}
<body>
    <h1 class="header-text">{% block title %} Country Comparison {% endblock %}</h1>
    <br><br><br><br><br><br><br>
    <form action="{{url_for('compare')}}" method="post">
        <div class='select'>
            <select id ="standart-select" name="country 1" class="Input">
                {% for country in countries %}
                <option value="{{country['countryName']}}">{{ country['countryName'] }}</option>
                {% endfor %}
            </select>
        </div>
        <br>
        <div class='select'>
            <select id ="standart-select"  name="country 2" class="Input">
                {% for country in countries %}
                <option value="{{ country['countryName'] }}">{{ country['countryName'] }}</option>
                {% endfor %}
            </select>
        </div>
        <br><br>
        <div class="divCenter">
            <input type="radio" name="tables" id="tables1" value="generalInfo"> General Info<br><br>
            <input type="radio" name="tables" id="tables1" value="countryPopulations"> Population <br><br>    
            <button type="Compare" class="button-5"> Compare </button>
        </div>
    </form>
</body>
{% endblock %}