{% extends 'base.html' %}
<link rel="stylesheet" href="{{ url_for('static',filename='styles/base.css') }}" />
{% block content %}
<body>
    <h1>{% block title %} COUNTRY INFO {% endblock %}</h1>

    <div class='countries'>
        <form action="{{url_for('showInfo')}}" method="post">
            <select name="country 1" class="Input">
                {% for country in countries %}
                <option value="{{country['countryName']}}">{{ country['countryName'] }}</option>
                {% endfor %}
            </select><br><br>   
            <button type="Submit" class="submit-btn"> Submit </button>
        </form>
    </div>
</body>
{% endblock %}