{% extends 'base.html' %}
{% block content %}
<body>
    <h1 class="header-text">{% block title %} Country List {% endblock %}</h1>
    <br><br><br><br><br><br><br>
    <div class="divCenter">
        <form action="{{url_for('delete')}}" method="post">
            {% for country in countries %}
                <input type="checkbox" id="country" name="countryDeletion" value= {{ country['countryName'] }}>
                <label for="country">{{ country['countryName'] }}</label><br></br>
            {% endfor %}
            <button type="Submit" class="button-5"> Delete </button>
        </form>
    </div>
</body>
{% endblock %}