{% extends 'base.html' %}

{% block content %}
  <h1 class="centered">{% block title %} Country Information {% endblock %}</h1>
  <form action="{{url_for('editCountry', countryIndex=countryInfo['countryIndex'] )}}" method="post">
    <div>
        <div>
          <img src="../static/images/{{ countryInfo['countryName'] }}.png" class="infoImage"><br><br>
          <details>
            <summary>General Info</summary>
            {% for i in range( countryInfo.keys() | length ) %}
            <div>
                {% if countryInfo.keys()[i] != "countryIndex" %}
                    <h2>{{countryInfo.keys()[i] }}:   {{ countryInfo[i] }} </h2>
                {% endif %}
            </div>
            {% endfor %}
            <button type="Edit" class="button-5" value="generalInfo" name="edit"> Edit </button>
          </details>
          <details>
            <summary>Population Info</summary>
            {% for i in range( countryPopulations.keys() | length ) %}
            <div>
                {% if countryPopulations.keys()[i] != "countryIndex" %}
                    <h2>{{countryPopulations.keys()[i] }}:   {{ countryPopulations[i] }} </h2>
                {% endif %}
            </div>
            {% endfor %}
            <button type="Edit" class="button-5" value="countryPopulations" name="edit"> Edit </button>
          </details>
        </div>
    </div>
  </form>
{% endblock %}
