{% extends 'base.html' %}
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: Arial;
  color: black;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 500px;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.middle {
    left: 250;
    right: 250;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-75%, -75%);
  text-align: center;
}

</style>
</head>

{% block content %}
<body>

    <h1>{% block title %} Country Information {% endblock %}</h1>
    <div class="split middle">
        <div class="centered">
            {% for i in range( country.keys() | length ) %}
            <div>
                {% if country.keys()[i] != "countryIndex" %}
                    <h2>{{country.keys()[i] }}:   {{ country[i] }} </h2>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
{% endblock %}